﻿
@{
    ViewBag.Title = "Dashboard";
}


<div class="container">
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewBag.pagetitle</h5>
        </div>
        <!-- Breadcrumb -->
        <!-- /Breadcrumb -->
    </div>

    </div>

    <div class="container pt-10">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="panel panel-default card-view pa-0">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body pa-0">
                                        <div class="sm-data-box">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                        <span class="txt-dark block counter"><span class="counter-anim">3</span></span>
                                                        <span class="capitalize-font block">Policies Due for Renewal</span>
                                                    </div>
                                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                                        <i class="icon-clock data-right-rep-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="progress-anim">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-orange
                                                                    wow animated progress-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="panel panel-default card-view pa-0">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body pa-0">
                                        <div class="sm-data-box">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                        <span class="txt-dark block counter"><span class="counter-anim">10</span></span>
                                                        <span class="capitalize-font block">Pending Approvals</span>
                                                    </div>
                                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                                        <i class="icon-pencil  data-right-rep-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="progress-anim">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-orange
                                                                    wow animated progress-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel panel-default border-panel card-view panel-refresh">
                                <div class="refresh-container">
                                    <div class="la-anim-1"></div>
                                </div>
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Pending Approvals</h6>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="pull-left inline-block refresh mr-15">
                                            <i class="zmdi zmdi-replay"></i>
                                        </a>

                                        <div class="pull-left inline-block dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert"></i></a>
                                            <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">
                                                <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Approve All</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row pa-0">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Policy No</th>
                                                            <th>Risk</th>
                                                            <th>Insured Name</th>
                                                            <th>Broker</th>
                                                            <th>Sum Insured</th>
                                                            <th>Premium</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                        <div class="col-sm-12 col-xs-12">
                            <div class="panel panel-default border-panel card-view panel-refresh">
                                <div class="refresh-container">
                                    <div class="la-anim-1"></div>
                                </div>
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Policies Due for Renewal</h6>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="pull-left inline-block refresh mr-15">
                                            <i class="zmdi zmdi-replay"></i>
                                        </a>

                                        <div class="pull-left inline-block dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert"></i></a>
                                            <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">
                                                <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Approve All</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row pa-0">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Policy No</th>
                                                            <th>Risk</th>
                                                            <th>Insured Name</th>
                                                            <th>Broker</th>
                                                            <th>Sum Insured</th>
                                                            <th>Premium</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> View</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="@Url.Action("Policies", new { Class = "V", id = 120  })" class="text-primary btn-link">AB/A/01/G0000026</a></td>
                                                            <td>Commercial Vehicle</td>
                                                            <td>NIGERIAN TELECOMMUNICATIONS LTD</td>
                                                            <td>C/O ARK INSURANCE BROKERS</td>
                                                            <td>2,000,000</td>
                                                            <td>80,000</td>

                                                            <td>
                                                                <span class="label label-danger">Pending</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <div class="dropdown">
                                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                                        <ul role="menu" class="dropdown-menu">
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-pencil"></i> Approve</a> </li>
                                                                            <li><a href="@Url.Action("Policies", new { Class = "V", id = 120  })"><i class="fa fa-trash"></i> Reject</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel panel-default border-panel card-view">
                                <div class="panel-heading">
                                    <div class="">
                                        <h6 class="panel-title txt-dark text-center">About IPolicy</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <!-- START carousel-->
                                        <div id="testimonial_slider" data-ride="carousel" class="carousel slide testimonial-slider-wrap text-slider mb-85">
                                            <ol class="carousel-indicators">
                                                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                                                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                                                <li data-target="#testimonial_slider" data-slide-to="2"></li>
                                                <li data-target="#testimonial_slider" data-slide-to="3"></li>

                                                <li data-target="#testimonial_slider" data-slide-to="4"></li>

                                            </ol>
                                            <div role="listbox" class="carousel-inner">
                                                <div class="item active">
                                                    <div class="testimonial-wrap text-center">
                                                        <p class="pt-20 font-16"><img src="~/img/1349599.png" width="80" height="80" /></p>

                                                        <span class="testi-pers-desg block capitalize-font">
                                                            With Ipolicy You can create Vehicle policies, generate debit note and also print motor certificates
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="item ">
                                                    <div class="testimonial-wrap text-center">
                                                        <p class="pt-20 font-16"><img src="~/img/survey.png" width="80" height="80" /></p>

                                                        <span class="testi-pers-desg block capitalize-font">
                                                            With Ipolicy You can also create surveys..
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="item ">
                                                    <div class="testimonial-wrap text-center">
                                                        <p class="pt-20 font-16"><img src="~/img/refund.png" width="80" height="80" /></p>

                                                        <span class="testi-pers-desg block capitalize-font">
                                                            With Ipolicy You can Register claims for all Risks easily!
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="item ">
                                                    <div class="testimonial-wrap text-center">
                                                        <p class="pt-20 font-16"><img src="~/img/accounts.png" width="80" height="80" /></p>

                                                        <span class="testi-pers-desg block capitalize-font">
                                                            With Ipolicy You can Manage Accounts receivables, payables, journals and many more.
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="item ">
                                                    <div class="testimonial-wrap text-center">
                                                        <p class="pt-20 font-16"><img src="~/img/protection(1).png" width="80" height="80" /></p>

                                                        <span class="testi-pers-desg block capitalize-font">
                                                           Ipolicy's Data Encyption standards gives you total security on all Your data.
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- END carousel-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel panel-default border-panel card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Timelines</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="streamline user-activity">
                                            <div class="sl-item">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <p class="inline-block"><span class="capitalize-font txt-orange mr-5 weight-500">Yomi Adedeji</span><span>Created the Policy AB/A/0077374</span></p>
                                                        <span class="block txt-grey font-12 capitalize-font">3 Min Ago</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="sl-item">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <p class="inline-block"><span class="capitalize-font txt-orange mr-5 weight-500">Oladokun Shile</span><span>Approved the policy AB/B/0000888</span></p>
                                                        <span class="block txt-grey font-12 capitalize-font">3 Min Ago</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="sl-item">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <p class="inline-block"><span class="capitalize-font txt-orange mr-5 weight-500">Oladokun Shile</span><span>Approved the policy AB/B/0000888</span></p>
                                                        <span class="block txt-grey font-12 capitalize-font">3 Min Ago</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="sl-item">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <p class="inline-block"><span class="capitalize-font txt-orange mr-5 weight-500">Oladokun Shile</span><span>Approved the policy AB/B/0000888</span></p>
                                                        <span class="block txt-grey font-12 capitalize-font">3 Min Ago</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="sl-item">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <p class="inline-block"><span class="capitalize-font txt-orange mr-5 weight-500">Oladokun Shile</span><span>Approved the policy AB/B/0000888</span></p>
                                                        <span class="block txt-grey font-12 capitalize-font">3 Min Ago</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>


