﻿@model IPolicy.ViewModels.Home.LoginVM

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/Loginpage/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Loginpage/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/Loginpage/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Loginpage/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/Loginpage/images/favicon.png" />
</head>
<body>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
    {
        @Html.AntiForgeryToken()

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                    <div class="row flex-grow">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                            <div class="auth-form-transparent text-left p-3">
                                <div class="brand-logo">
                                    <img src="~/img/IP_Policy_Logo.png" alt="logo">
                                </div>
                                <h4>Welcome back</h4>
                                <p class="font-weight-light">Please enter your username and password to sign in.</p>
                                <div class="pt-3">
                                    @{ Html.RenderPartial("_ProgressSpin");}

                                    @{ Html.RenderPartial("_messagepanelPartial");}
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="fa fa-user text-primary"></i>
                                                </span>
                                            </div>
                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg border-left-0", placeholder = "Username" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger text-small" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="fa fa-lock text-primary"></i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg border-left-0", placeholder = "Password" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger text-small" })

                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input">
                                                Keep me signed in
                                            </label>
                                        </div>
                                        <a href="/Home/forgotpwd" class="auth-link text-black">Forgot password?</a>
                                    </div>
                                    <div class="my-3">
                                        <input type="submit" value="LOGIN" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" />

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 login-half-bg d-flex flex-row">
                            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; @DateTime.Now.Year  All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


    }

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/Loginpage/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/Loginpage/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Content/Loginpage/js/off-canvas.js"></script>
    <script src="~/Content/Loginpage/js/hoverable-collapse.js"></script>
    <script src="~/Content/Loginpage/js/misc.js"></script>
    <script src="~/Content/Loginpage/js/settings.js"></script>
    <script src="~/Content/Loginpage/js/todolist.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                $("#progress").show();
            }
        });

    </script>

    <!-- endinject -->
</body>

<!-- Mirrored from www.urbanui.com/melody/template/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Sep 2018 22:04:37 GMT -->
</html>
