﻿@model IEnumerable<IPolicy.Data.Entities.ABSINSRDTAB>

@{
    ViewBag.Title = "InsuredClients";
}
<div class="container">
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Insured Clients</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="pull-right">
            <a href="/Admin/InsuredClients_edit" class="btn btn-success btn-anim"><i class="fa fa-plus"></i><span class="btn-text">Create Insured</span></a>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <div class="alert searchfilter">
        <div class="row">
            <div class="col-sm-1">
                <strong class="control-label">Search filter:</strong>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">From</label>
                    <div class="">
                        <input class="form-control small-form datepicker input-sm" type="text">
                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">To</label>
                    <div class="">
                        <input class="form-control small-form datepicker input-sm" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Insured type</label>
                    <select class="form-control small-form input-sm">
                        <option>Select Insured type</option>
                        <option>Individual</option>
                        <option>Corporate</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">  </label>
                    <br />

                    <a href="#" class="btn btn-success btn-icon left-icon btn-xs"><i class="fa fa-search"></i> Search </a>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Insured Clients List</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="mytable" class="table table-hover table-striped display  pb-30">
                                    <thead>
                                        <tr>
                                            <th>Insured Number</th>
                                            <th>Insured Name</th>
                                            <th>Address</th>
                                            <th>Mobile number</th>
                                            <th>Submitted on</th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    <a class="text-primary" href="@Url.Action("InsuredClients_edit", new { @id = item.CTINSRD_NO })">@item.CTINSRD_NO</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CTINSRD_LONG_DESCR)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CTINSRD_ADDR1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CTINSRD_GSM_NUM)
                                                </td>
                                                <td>
                                                    @item.CTINSRD_KEYDTE.Value.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <div class="dropdown">
                                                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="@Url.Action("InsuredClients_edit", new { @id = item.CTINSRD_NO })"><i class="fa fa-pencil"></i> Edit</a> </li>
                                                                <li><a href="@Url.Action("InsuredClients_delete", new { @id = item.CTINSRD_NO })"><i class="fa fa-trash"></i> Delete</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>







