﻿@model IPolicy.ViewModels.Admin.Users_editVM

@{
    ViewBag.Title = "Users_edit";
}

<div class="container">
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewBag.pagetitle</h5>
        </div>
        <!-- Breadcrumb -->
        <!-- /Breadcrumb -->
    </div>
    @{ Html.RenderPartial("_messagepanelPartial");}
    @{ Html.RenderPartial("_ProgressSpin");}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default border-panel card-view">

                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.PWD_REC_NO)

                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>User Details</h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Username</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(model => model.PWD_USER_NAME, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.PWD_USER_NAME, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Password</label>
                                                        <div class="col-sm-9">
                                                            @Html.PasswordFor(model => model.PWD_CODE, new { @class = "form-control", @Value = Model.PWD_CODE })
                                                            @Html.ValidationMessageFor(model => model.PWD_CODE, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Confirm Password</label>
                                                        <div class="col-sm-9">
                                                            @Html.PasswordFor(model => model.PWD_CODE_RE, new { @class = "form-control", @Value = Model.PWD_CODE })
                                                            @Html.ValidationMessageFor(model => model.PWD_CODE_RE, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Email </label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(model => model.PWD_EMAIL_NUM, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.PWD_EMAIL_NUM, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Telephone</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(model => model.PWD_TEL_NUM, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.PWD_TEL_NUM, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Mobile no</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(model => model.PWD_MOBILE_NUM, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.PWD_MOBILE_NUM, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Pwd Expiry </label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(model => model.PWD_EXPIRY_DATE, new { @class = "form-control datepicker" })
                                                            @Html.ValidationMessageFor(model => model.PWD_EXPIRY_DATE, "", new { @class = "text-danger input-sm" })
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Status</label>
                                                        <div class="col-sm-3">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.PWD_ENABLE_SW, "Y") <label for="PWD_ENABLE_SW"> Enable </label>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="radio radio-primary">
                                                                @Html.RadioButtonFor(model => model.PWD_ENABLE_SW, "N") <label for="PWD_ENABLE_SW"> Disable </label>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">User Group</label>
                                                        <div class="col-sm-9">
                                                            @Html.DropDownListFor(model => model.PWD_USER_GRP, ViewBag.usergroup as List<SelectListItem>, "Select usergroup", new { @class = "selectpicker" })
                                                            @Html.ValidationMessageFor(model => model.PWD_USER_GRP, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row">




                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">User Department</label>
                                                        <div class="col-sm-9">
                                                            @Html.DropDownListFor(model => model.PWD_USER_DEPT, ViewBag.userdepartments as List<SelectListItem>, "Select Department", new { @class = "selectpicker" })
                                                            @Html.ValidationMessageFor(model => model.PWD_USER_DEPT, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">User Type</label>
                                                        <div class="col-sm-9">
                                                            @Html.DropDownListFor(model => model.PWD_USER_TYPE, ViewBag.usertypes as List<SelectListItem>, "Select Usertype", new { @class = "selectpicker" })
                                                            @Html.ValidationMessageFor(model => model.PWD_USER_TYPE, "", new { @class = "text-danger input-sm" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-actions mt-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <input type="submit" id="submitbtn" value="Submit" class="btn btn-success  mr-10" />
                                                            <a href="@Url.Action("Users")" class="btn btn-default">Back to List</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts

    {
    
}



