﻿@model IPolicy.ViewModels.SearchFilters.UsersSearchModel

@{
    ViewBag.Title = "Users";
}


<div class="container">
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewBag.pagetitle</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="pull-right">
            <a href="/Admin/Users_edit" class="btn btn-success btn-anim"><i class="fa fa-plus"></i><span class="btn-text">Create User</span></a>
        </div>
        <!-- /Breadcrumb -->
    </div>
    @{ Html.RenderPartial("_ProgressSpin");}

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
    {
        <div class="alert searchfilter">
            <div class="row">
                <div class="col-sm-1">
                    <strong class="control-label">Search filter:</strong>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">From</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.From, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker small-form input-sm" })
                        </div>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">To</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.To, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker small-form  input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control small-form input-sm" })

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">  </label>
                        <br />
                        <button type="submit" class="btn btn-success btn-icon left-icon btn-xs"><i class="fa fa-search"></i>Submit</button>

                    </div>

                </div>
            </div>
        </div>
    }



    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">@ViewBag.pagetitle List</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="mytable" class="table table-hover table-striped display  pb-30">
                                    <thead class="textbold">
                                        <tr>
                                            <th>User ID</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Submitted On</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.users)
                                        {

                                            <tr>
                                                <td>
                                                    <a class="text-primary btn-link" href="@Url.Action("Users_edit", new { id = item.PWD_REC_NO })">@item.PWD_ID</a>
                                                </td>
                                                <td>
                                                    @item.PWD_USER_NAME
                                                </td>
                                                <td>
                                                    @item.PWD_MOBILE_NUM
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(item.PWD_KEYDTE).ToString("dd-MM-yyyy")

                                                </td>

                                                <td>
                                                    <div class="btn-group">
                                                        <div class="dropdown">
                                                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" type="button">Actions <span class="caret"></span></button>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="@Url.Action("Users_edit", new { id = item.PWD_REC_NO })"><i class="fa fa-pencil"></i> Edit</a> </li>
                                                                <li><a href="@Url.Action("Users_delete", new { id = item.PWD_REC_NO })"><i class="fa fa-trash"></i> Delete</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

