﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    @Styles.Render("~/vendors/css")
    @Styles.Render("~/dist/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <div class="wrapper theme-2-active navbar-top-navyblue">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="nav-wrap">
                <div class="mobile-only-brand pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a href="index-2.html">
                                <img class="brand-img" src="~/img/logo.png" alt="brand" />
                                <span class="brand-text">IPolicy @*<img src="~/img/brand.png" alt="brand" />*@</span>
                            </a>
                        </div>
                    </div>
                    <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
                    <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
                    <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>
                    <form id="search_form" role="search" class="top-nav-search collapse pull-left">
                        <div class="input-group">
                            <input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="button" class="btn  btn-default" data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
                            </span>
                        </div>
                    </form>

                    <a class="toggle-left-nav-btn inline-block txt-orange ml-20 pull-left" href="#"><strong>IP Address: 101.45.47.98</strong></a>
                    <a href="#" class="toggle-left-nav-btn txt-orange inline-block ml-20 pull-left"><strong>Last Login Date: 20-JUN-2019</strong>   </a>
                    <div class="pull-right">
                        <a href="#" class="toggle-left-nav-btn txt-primary inline-block ml-20 "><strong>Welcome, @Session["currentuser"]</strong>   </a>

                    </div>

                </div>
                <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                    <ul class="nav navbar-right top-nav pull-right">



                        <li class="dropdown alert-drp">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-bell top-nav-icon"></i><span class="top-nav-icon-badge">3</span></a>
                            <ul class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
                                <li>
                                    <div class="notification-box-head-wrap">
                                        <span class="notification-box-head pull-left inline-block">notifications</span>
                                        <a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>
                                        <div class="clearfix"></div>
                                        <hr class="light-grey-hr ma-0" />
                                    </div>
                                </li>
                                <li>
                                    <div class="streamline message-nicescroll-bar">
                                        <div class="sl-item">
                                            <a href="javascript:void(0)">
                                                <div class="icon bg-green">
                                                    <i class="ti-briefcase "></i>
                                                </div>
                                                <div class="sl-content">
                                                    <span class="inline-block capitalize-font  pull-left truncate head-notifications">
                                                        New subscription created
                                                    </span>
                                                    <span class="inline-block font-11  pull-right notifications-time">2pm</span>
                                                    <div class="clearfix"></div>
                                                    <p class="truncate">Your customer subscribed for the basic plan. The customer will pay $25 per month.</p>
                                                </div>
                                            </a>
                                        </div>
                                        <hr class="light-grey-hr ma-0" />
                                        @* mesage notification *@
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-box-bottom-wrap">
                                        <hr class="light-grey-hr ma-0" />
                                        <a class="block text-center read-all" href="javascript:void(0)"> read all </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown auth-drp">
                            <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
                                <img src="~/img/user.png" alt="user_auth" class="user-auth-img img-circle" />
                                <span class="user-online-status"></span>
                            </a>
                            <ul class="dropdown-menu user-auth-dropdown">
                                <li>
                                    <a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-account"></i><span>Change password</span></a>
                                </li>

                                <li>
                                    <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
                                </li>
                                <li class="divider"></li>

                                <li>
                                    <a href="/Home/logout"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Left Sidebar Menu -->
        @{ Html.RenderPartial("_Sidebar");}

        <!-- /Left Sidebar Menu -->
        <!-- Right Sidebar Menu -->
        <!-- /Right Sidebar Menu -->
        <!-- Right Setting Menu -->
        <!-- /Right Setting Menu -->
        <!-- Main Content -->
        <div id="" class="page-wrapper">

            @RenderBody()





            <!-- Footer -->
            <footer class="footer pl-30 pr-30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>@DateTime.Now.Year &copy; IPolicy</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>www.ipolicy.com.ng</p>
                            @*<a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>*@
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->



    </div>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/vendors/js")
    @* For datepicker *@
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({
                //format: "dd-mm-yyyy"
            }); //Initialise any date pickers
        });
    </script>

    <script type="text/javascript">

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                $("#progress").show();
            }
        });

    </script>


    <script type="text/javascript">
    $(document).ready(function () {
        @if (TempData["success"] != null)
    {

        @:showSuccessToast('@TempData["message"]');
     TempData.Clear();

    }

          else if (TempData["info"]!= null)
          {

        @:showInfoToast('@TempData["message"]');
          TempData.Clear();
        }
    });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
