﻿@if (ViewBag.message != null)
{
    switch (ViewBag.messagetype)
    {
        case "info":
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> @ViewBag.message

            </div>
            break;
        case "error":
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> @ViewBag.message

            </div>

            break;
        case "warning":
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> @ViewBag.message

            </div>
            break;
    }
}

