﻿@using IPolicy.Extensions
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">

        <li>
            <a class="@Url.MakeActiveaction("Dashboard")" href="/Underwriting/Dashboard"><div class="pull-left"><i class="ti-dashboard mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>
        </li>
        
        <li>
            <a class="" href="javascript:void(0);" data-toggle="collapse" data-target="#quote"><div class="pull-left"><i class="ti-pencil mr-20"></i><span class="right-nav-text">Quotation</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
            <ul id="quote" class="collapse collapse-level-1">
                <li>
                    <a href="index-2.html">New quotations</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#quote2">All quotations<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
                    <ul id="quote2" class="collapse collapse-level-2">
                        <li>
                            <a href="inbox.html">Quote 1</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Quote2</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>

        @*<li class="navigation-header mt-20">
            <span>Underwriting</span>
            <hr />
        </li>*@
        <li>
            <a class="" href="javascript:void(0);" data-toggle="collapse" data-target="#underwriting"><div class="pull-left"><i class="ti-car mr-20"></i><span class="right-nav-text">Underwriting</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
            <ul id="underwriting" class="collapse collapse-level-1">

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#poladmin">Policy Admin<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
                    <ul id="poladmin" class="collapse collapse-level-2">
                        <li>
                            <a href="inbox.html">Fire</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Motor</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>

    

        <li>
            <a class="@Url.MakeActiveController("Admin")" href="javascript:void(0);" data-toggle="collapse" data-target="#admin"><div class="pull-left"><i class="ti-settings mr-20"></i><span class="right-nav-text">[ADMIN]</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
            <ul id="admin" class="collapse collapse-level-1">

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#company"><i class="fa fa-building"></i> Company<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
                    <ul id="company" class="collapse collapse-level-2">
                        <li>
                            <a href="#">Setup Autonumbers</a>
                        </li>
                        <li>
                            <a href="#">Company settings</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="@Url.MakeActiveController("Admin")"  href="javascript:void(0);" data-toggle="collapse" data-target="#syssetup"><i class="fa fa-wrench"></i> System setups<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
                    <ul id="syssetup" class="collapse collapse-level-2">
                        <li>
                            <a href="inbox.html">Setup Branches</a>
                        </li>
                        <li>
                            <a class="@Url.MakeActiveaction("InsuredClients")" href="/Admin/InsuredClients">Setup Insured clients</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Setup Brokers</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Setup Marketing staffs</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Setup Units/Groups</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Setup Insurance classes</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Setup Sub Classes</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="@Url.MakeActiveController("Admin")" href="javascript:void(0);" data-toggle="collapse" data-target="#security"><i class="fa fa-lock"></i> Security<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
                    <ul id="security" class="collapse collapse-level-2">
                        <li>
                            <a class="@Url.MakeActiveaction("Users")" href="/Admin/Users">Setup Users/Access</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Assign Permissions</a>
                        </li>
                        <li>
                            <a href="inbox-detail.html">Reset Password</a>
                        </li>
                     
                    </ul>
                </li>
            </ul>
        </li>


        <li>
            <a href="/Home/Logout"><div class="pull-left text-success"><i class="ti-power-off mr-20"></i><span class="right-nav-text">Log Off</span></div><div class="clearfix"></div></a>
        </li>

    </ul>
</div>
