.menu-title-custom {
    color: #392C70;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    min-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
}

.card {
    border-top: 5px solid #392C70;
}